<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Điện thoại rẻ Bình Dương</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @using PANshop.Models

    <style type="text/css">
        body {
            background-color: #F0F0F0;
        }

        .navbar-inverse {
            background-color: black;
            border-color: black;
        }

        .top_header {
            background-color: black;
            padding-left: 110px;
            color: white;
        }

        .form-inline {
            float: right;
            padding-top: 10px;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: white;
            font-size: x-large;
        }

        .navbar-inverse .navbar-brand {
            color: white;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: white;
            font-size: large;
        }

            .navbar-inverse .navbar-nav > li > a:hover {
                color: goldenrod;
            }

        .navbar-brand {
            color: cadetblue;
        }

        .spnoibat {
            background-color: white;
        }

            .spnoibat h3 {
                padding-left: 30px;
            }

        .giohang {
            color: white;
        }
    </style>


</head>

<body>

    @{
        var u = Session["use"] as PANshop.Models.Nguoidung;
    }

    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="top_header col-md-12">

            <div class="row">
                @*<div class="col-sm-2"><img class="navbar-brand" src="~/HinhanhSP/logo1.jpg" width="20" height="20" style="padding:0" /></div>*@
                <div class="col-sm-4 col-md-0" style="font-size:large">PAN Production</div>

                <div class="col-sm-4 col-md-0" style="padding-left:280px">
                    @Html.Action("GioHangPartial", "GioHang", new { @class = "giohang" })
                </div>
                @*@Html.Action("GioHangPartial", "GioHang",new { @style = "color:while" })*@
                @{
                    if (u != null)
                    {
                        <div class="col-sm-4 col-md-0" style="padding-left:50px; color: white">
                            Xin chào : @u.Hoten
                            &nbsp;
                            @*@Html.ActionLink("ĐĂNG XUẤT", "DangXuat", "User", new { style = "color:red" })*@
                            <a style="color:red" href="/User/DangXuat"> ĐĂNG XUẤT</a>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-4 col-md-0" style="padding-left:150px">
                            <a style="color:white" href="/User/Dangky"> Đăng ký</a>
                            &nbsp;
                            <a style="color:white" href="/User/Dangnhap"> Đăng nhập</a>
                        </div>
                    }
                }


            </div>

        </div>
        <div class="container">

            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand" src="~/HinhanhSP/PANlogo.png" width="150" height="50" style="padding:0" />
                @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <form class="form-inline" style="float:left">
                    <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm sản phẩm..." aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm</button>
                </form>

            </div>

            <div class="navbar-collapse collapse" >

                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Home/Index">

                            @*<span><i class=" glyphicon-music "></i></span>*@
                            <span>TRANG CHỦ</span>

                        </a>
                        @*<span><i class=" glyphicon-music "></i> </span>
            <br />
            <span>@Html.ActionLink("Trang chủ", "Index", "Home") </span>*@
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ĐIỆN THOẠI
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item">  @Html.Action("DanhmucPartial", "Sanpham")</a>

                        </div>
                    </li>
                    <li>
                        <a href="/Sanpham/Danhmuc/6">
                            @*<span><i class="fas fa-desktop"></i></span>*@
                            <span>PHỤ KIỆN</span>

                        </a>
                    </li>
                    <li>
                        <a href="/Home/Contact">
                            @*<span><i class="fas fa-headphones"></i></span>*@
                            <span>LIÊN HỆ</span>

                        </a>
                    </li>
                    <!--<li>
                        <a href="/Home/About">-->
                            @*<span><i class="fas fa-headphones"></i></span>*@
                            <!--<span>THÔNG TIN</span>

                        </a>
                    </li>-->
                    <li>
                        <a class="nav-link"
                           href="@Url.Action("Index", "DonHangs")">ĐƠN HÀNG</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div>

            <img class="img-responsive" src="~/HinhanhSP/ban1.jpg" />
        </div>
        <br />
    </div>
    <footer class="bg-info" style="padding-left:50px">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h2>Bảo hành</h2>
                <span>Chính sách mua hàng</span>
                <br />
                <span>Chính sách bảo hành</span>
                <br />
                <span>Trung tâm bảo hành</span>
                <br />
                <span>Tra cứu bảo hành</span>
            </div>
            <div class="col-md-3 col-sm-6">
                <h2>Liên kết</h2>
                <span>Tin tức Mobile</span>
                <br />
                <span>Lập trình Web</span>
                <br />
                <span>Website</span>
                <br />
                <span>Tin tức</span>


            </div>
            <div class="col-md-3 col-sm-6">
                <h2>Thông tin</h2>
                <span>Về chúng tôi</span>
                <br />
                <span>Liên hệ</span>
                <br />
                <span>Góp ý</span>
                <br />
                <span>Tra cứu</span>
            </div>
            <div class="col-md-3 col-sm-6">
                <h2>Theo dõi</h2>
                <span>Youtube</span>
                <br />
                <span>Fanpage</span>
                <br />
                <span>Shopee</span>
                <br />
                <span>Instagram</span>

            </div>
        </div>
        <hr />
        <center> <p class="bg-secondary">&copy; @DateTime.Now.Year - PAN Shop</p></center>
    </footer>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
